@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #010510;
}

.logo {
  height: 3rem;
  margin-right: 2rem;
}

.login__btn {
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  transform: translateY(0.5rem);
  transition: 0.5s ease;
}
.login__btn:hover {
  transform: translateY(0);
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #363949;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: 0.5 ease;
}
.btn--sort:hover {
  color: #363949;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.login__input {
  color: #363949;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.login__input:focus {
  outline: none;
  border: 1px solid #fff;
}
.login__input::placeholder {
  color: #363949;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.summary__label {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.form__label--loan {
  grid-row: 2;
}

/* End exceptions */
.form__label {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #fff;
}
.operation--transfer {
  background-image: linear-gradient(to top left, #d49305, #ffcb03);
  border: 0.1rem solid #000000;
}
.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #7cb847);
  border: 0.1rem solid #000000;
}
.operation--close {
  background-image: linear-gradient(to top left, #bb254a, #c7555a);
  border: 0.1rem solid #000000;
}

.movements {
  grid-row: 2/span 3;
  border-radius: 1rem;
  overflow: scroll;
  background-color: #fff;
}
.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-shadow: rgba(219, 211, 211, 0.5) -3px -3px 6px 1px inset;
}
.movements__row:nth-child(odd) {
  background: #e0e0e0;
}
.movements__row:nth-child(even) {
  background: #ffffff;
}
.movements__row:first-child {
  box-shadow: rgb(169, 171, 173) 3px 3px 6px 0px inset, rgba(182, 175, 175, 0.5) -3px -3px 6px 1px inset;
}
.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}
.movements__date {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #363949;
}
.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
  color: #fff;
}

.balance {
  grid-column: 1/span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.balance__date {
  font-size: 1.4rem;
  color: #363949;
}
.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

.date {
  font-weight: 800;
  padding-top: 0.2rem;
}

.summary {
  grid-row: 5/6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
  font-weight: 500;
}
.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}
.summary__value--in, .summary__value--interest {
  color: #66c873;
}
.summary__value--out {
  color: #f5465d;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 30%;
  top: 0;
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 30%;
  bottom: 10%;
  left: 20%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.welcome {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  margin-right: 3.5rem;
  position: relative;
  transition: 0.5s ease;
}
.navbar a:focus {
  color: #150e2e;
}

/* BREAKPOINTS */
@media (max-width: 1120px) {
  html {
    font-size: 55%;
  }
  .balance {
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .app {
    display: flex;
    flex-direction: column;
  }
  .movements {
    width: 60%;
    margin: auto;
  }
  .operation {
    width: 60%;
    margin: auto;
  }
  .form__input, .form__btn {
    display: block;
    z-index: 100;
  }
  .summary {
    margin: auto;
  }
}
@media (max-width: 680px) {
  .welcome {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .movements__row {
    padding: 2.25rem 1rem;
  }
  .movements__type {
    margin-right: 0.5rem;
  }
}
@media (max-width: 540px) {
  .summary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .summary__value {
    margin-right: 0rem;
  }
  .summary .btn--sort {
    z-index: 100;
    padding: 1rem 1rem;
    margin: 2rem auto;
  }
}
@media (max-width: 480px) {
  .movements {
    width: 100%;
  }
  .operation {
    width: 80%;
  }
}
@media (max-width: 440px) {
  .header {
    flex-direction: column;
  }
  .login {
    margin: 2rem;
  }
  .app {
    margin-top: 12rem;
  }
  .movements__row {
    padding: 2.25rem 1rem;
  }
}
@media (max-width: 350px) {
  .app {
    margin-top: 15rem;
  }
}

/*# sourceMappingURL=style.css.map */
