//ABSTRACT
@import "abstracts/variables";
@import "abstracts/fonts";
//BASE
@import "base/base";
//COMPONENTS
@import "components/button";
@import "components/input";
@import "components/label";
@import "components/form";
@import "components/operation";
@import "components/movements";
@import "components/balance";
@import "components/summary";
//LAYOUT
@import "layout/app";
@import "layout/header";
@import "layout/navbar";

/* BREAKPOINTS */
@media (max-width: 1120px) {
  html {
    font-size: 55%;
  }

  .balance {
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .app {
    display: flex;
    flex-direction: column;
  }
  .movements {
    width: 60%;
    margin: auto;
  }
  .operation {
    width: 60%;
    margin: auto;
  }

  .summary,
  .logout-timer {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .summary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__value {
      margin-right: 0rem;
    }
  }
  .movements {
    width: 100%;
  }
  .operation {
    width: 80%;
  }
  .btn--sort {
    display: block;
    padding: 1rem 1rem;
    margin: auto;
  }
}

@media (max-width: 440px) {
  .header {
    flex-direction: column;
  }
  .login {
    margin: 2rem;
  }
  .app {
    margin-top: 12rem;
  }
}

@media (max-width: 350px) {
  .app {
    margin-top: 15rem;
  }
}
