//ABSTRACT
@import "abstracts/variables";
@import "abstracts/fonts";
//BASE
@import "base/base";
//COMPONENTS
@import "components/button";
@import "components/input";
@import "components/label";
@import "components/form";
@import "components/operation";
@import "components/movements";
@import "components/balance";
@import "components/summary";
//LAYOUT
@import "layout/app";
@import "layout/header";
@import "layout/navbar";

/* BREAKPOINTS */
.logo{
  height: 3rem;
  margin-right: 2rem;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 30%;
  top: 0;
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 30%;
  bottom: 10%;
  left: 20%;
}

@media (max-width: 1120px) {
  html {
    font-size: 55%;
  }

  .balance {
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .app {
    display: flex;
    flex-direction: column;
  }
  .movements {
    width: 60%;
    margin: auto;
  }
  .operation {
    width: 60%;
    margin: auto;
  }

  .summary,
  .logout-timer {
    margin: auto;
  }
}
@media(max-width: 680px){
  .welcome{
    display: none;
  }
}
@media(max-width: 540px){
  .summary{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__value {
      margin-right: 0rem;
    }
    .btn--sort {
      display: block;
      padding: 1rem 1rem;
      margin: 2rem auto;
    }
  }
}

@media (max-width: 480px) {
  .movements {
    width: 100%;
  }
  .operation {
    width: 80%;
  }

}

@media (max-width: 440px) {
  .header {
    flex-direction: column;
  }
  .login {
    margin: 2rem;
  }
  .app {
    margin-top: 12rem;
  }
  
}

@media (max-width: 350px) {
  .app {
    margin-top: 15rem;
  }
  
}
