.app {
	position: relative;
	max-width: 100rem;
	margin: 8rem auto;
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-template-rows: auto repeat(3, 15rem) auto;
	gap: 2rem;

	/* NOTE This creates the fade in/out anumation */
	opacity: 0;
	transition: all 1s;
}

.white__gradient {
	background: rgba(255, 255, 255, 0.6);
	filter: blur(750px);
	position: absolute;
	z-index: 1;
	width: 20%;
	height: 30%;
	top: 0;
  }
  
  .pink__gradient {
	background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
	filter: blur(900px);
	position: absolute;
	z-index: 2;
	width: 40%;
	height: 30%;
	bottom: 10%;
	left: 20%;
  }