.login__btn {
	font-size: 2.4rem;
	color: $color-primary;
	cursor: pointer;
	transform: translateY(0.5rem);
	transition: 0.5s ease;
	&:hover {
		color: $color-info-dark;
	}
}

.btn--sort, .btn--convert {
	margin-left: auto;
	border: none;
	background: none;
	font-size: 1.3rem;
	font-weight: 500;
	cursor: pointer;
	background-color: $color-info-dark;
	padding: 1rem 1rem;
	border-radius: 0.5rem;
	color: $color-white;
	transition: 0.5 ease;
	&:hover{
		color: $color-info-dark;
		background-color: $color-white;
		box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
	}
}

.btn--convert{
	margin-left: 2rem;
}
.form__btn {
	border: none;
	border-radius: 0.7rem;
	font-size: 1.8rem;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.3s;
	&:focus {
		outline: none;
		background-color: rgba(255, 255, 255, 0.8);
	}
}